.git
.github
.artifacts
cu-test-artifacts
dogfood-output
playwright-report
test-results
compose
compose.yml
docs
tests
.turbo
node_modules
**/node_modules
**/__tests__
**/*.spec.ts
**/.output
**/dist
**/coverage
**/.env
**/.env.*
*.log
.DS_Store
