node-linker=hoisted
shamefully-hoist=false
auto-install-peers=true
dedupe-peer-dependents=false
supportedArchitectures[os]=linux,darwin
supportedArchitectures[cpu]=x64,arm64
onlyBuiltDependencies=@nestjs/core,@prisma/engines,@swc/core,esbuild,prisma,sharp
